MYSQL_HOST=tu-host.aivencloud.com
MYSQL_PORT=16704
MYSQL_USER=avnadmin
MYSQL_PASSWORD=CAMBIA_ESTO
MYSQL_DB=defaultdb
MYSQL_SSL=true
METRICS_API_KEY=pon-una-key-fuerte
JWT_SECRET=pon-un-secreto-fuerte
JWT_TTL_HOURS=12
METRICS_DEMO_PASSWORD=CambiaEstaClave
# METRICS_USERS=[{"email":"...","nombre":"...","rol":"Admin","password":"..."}]
